.containerButton{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 150px;
    height: 50px;
    background-color: rgb(148, 127, 255);
}

.disabledButton {
    width: 150px;
    height: 50px;
    background-color: red;
}

span {
    display: block;
}